<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aashish.learnjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnJava">
        <activity
            android:name=".mainScreen"
            android:exported="true" />
        <activity
            android:name=".chapterNine"
            android:exported="true" />
        <activity
            android:name=".chapterSeven"
            android:exported="true" />
        <activity
            android:name=".chapterSix"
            android:exported="true" />
        <activity
            android:name=".chapterFour"
            android:exported="true" />
        <activity
            android:name=".chapterFive"
            android:exported="true" />
        <activity
            android:name=".previousYearQuestionPaper"
            android:exported="true" />
        <activity
            android:name=".chapterThree"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".chapterTwo"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".chapterOne"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>